---
import Layout from "@/layouts/Layout.astro";
import Home from "@/components/Home.astro";
import HireMe from "@/components/HireMe.astro";
import Projects from "@/components/Projects.astro";
import Contact from "@/components/Contact.astro";
import { fade } from "astro:transitions";
---

<Layout>
  <main
    class="mt-[100px] lg:mt-0 lg:ml-[250px] p-5 relative flex flex-col"
    transition:animate={fade({ duration: "0.6s" })}>
    <Home />
    <HireMe />
    <Projects />
    <Contact />
    <h2
      class="text-[18svw] font-black text-surface/30 font-[arial] fixed bottom-0 leading-none right-0 lg:bottom-[5rem] lg:right-[5rem] select-none -z-50 transition-colors duration-700"
      id="section-text">
      Hello!
    </h2>
  </main>
</Layout>

<style></style>
<script>
  const sections = document.querySelectorAll("section");
  const sectionText = document.querySelector("#section-text");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting && sectionText) {
          sectionText.classList.toggle("text-transparent");
          setTimeout(() => {
            sectionText.textContent = entry.target.id;
            sectionText.classList.toggle("text-transparent");
          }, 600);
        }
      });
    },
    {
      rootMargin: "-400px 0px 0px 0px",
    }
  );

  sections.forEach((section) => {
    observer.observe(section);
  });
</script>
