---
import Layout from "@/layouts/Layout.astro";
import Home from "@/components/Home.astro";
import HireMe from "@/components/HireMe.astro";
import Projects from "@/components/Projects.astro";
import Contact from "@/components/Contact.astro";
---

<Layout>
  <Home />
  <HireMe />
  <Projects />
  <Contact />
  <h2
    class="text-[18svw] font-black text-surface/30 font-[arial] fixed bottom-0 leading-none right-0 lg:bottom-[5rem] lg:right-[5rem] select-none -z-50"
    id="section-text">
    Hello!
  </h2>
</Layout>

<style></style>

<script>
  const sections = document.querySelectorAll("section");
  const sectionText = document.querySelector("#section-text");
  const scrollMarginOffset = -400;

  const updateSectionText = (scrollPosition: number) => {
    sections.forEach((section) => {
      const sectionTop = section.offsetTop - scrollMarginOffset;
      const sectionBottom =
        sectionTop + section.offsetHeight + scrollMarginOffset;

      if (
        scrollPosition >= sectionTop &&
        scrollPosition < sectionBottom &&
        sectionText
      ) {
        sectionText.textContent = section.id;
      }
    });
  };
  window.addEventListener("scroll", () => {
    const scrollPosition = window.scrollY + window.innerHeight;
    updateSectionText(scrollPosition);
  });
</script>
