---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
---

<Layout>
  <Navbar />
  <main class="mt-[100px] lg:mt-0 lg:ml-[250px] p-5">

  </main>
</Layout>

<style></style>
