---
import UnderlinedLink from "@/components/ui/UnderlinedLink.astro";
import ArrowLongRight from "@/components/icons/ArrowLongRight.astro";
---

<section
  id="Why Me?"
  class="max-w-[1300px] min-h-screen p-4 lg:p-10 flex justify-center flex-col text-muted [&>h2]:mt-5 [&>h2]:font-light [&>h2]:text-sm lg:[&>h2]:text-xl [&>h2]:text-muted/90 lg:[&>p]:text-2xl [&>p>strong]:font-[arial] [&>p>strong]:italic [&>h2]:italic my-10">
  <h1 class="text-2xl lg:text-6xl text-secondary font-black">
    Why should you hire me?
  </h1>
  <h2>/artist/</h2>
  <p>
    I'm <strong>not just an average developer</strong> - I'm a multi-talented <strong
      >artist</strong
    >
    with a <strong>keen eye</strong> and <strong>frontend expertise</strong>.
  </p>
  <h2>/details/</h2>
  <p>
    My solutions have <strong>clean</strong> and <strong
      >captivating details</strong
    >. I take care of every little aspect to make them <strong
      >unforgettable</strong
    >.
  </p>
  <h2>/creations/</h2>
  <p>
    My creations range from <strong>beautiful websites</strong> to <strong
      >interesting apps</strong
    >. I can build the software solution that meets all your needs, whether it's
    <strong>brand new</strong> or you're <strong>upgrading</strong>.
  </p>
  <h2>/professionalism/</h2>
  <p class="mb-4">
    <strong>Your users should expect more than an average experience</strong>;
    they deserve my exceptional combination of <strong>professionalism</strong>, <strong
      >meticulousness</strong
    >, and boundless <strong>creative imagination</strong>.
  </p>
  <UnderlinedLink href="/#Projects">
    See my projects
    <Fragment slot="icon">
      <ArrowLongRight
        className="h-4 w-6 lg:h-6 lg:w-6 stroke-primary ml-6 animate-move-arrow"
      />
    </Fragment>
  </UnderlinedLink>
</section>
