---

---

<section
  id="Contact"
  class="p-4 lg:p-10 min-h-screen flex flex-col justify-center">
  <h1 class="text-3xl lg:text-6xl mb-10">Lets Talk About How Can I Help.</h1>
  <h2 class="text-lg lg:text-2xl my-2 font-print text-muted/90">Contact</h2>
  <a
    href="mailto:lucanahtsu@gmail.com"
    class="text-xl lg:text-3xl underline underline-offset-2 hover:text-primary/80 transition-colors"
    >lucanahtsu@gmail.com</a
  >

  <h2 class="text-lg lg:text-2xl font-print mt-6 mb-2 text-muted/90">
    Socials
  </h2>
  <ul>
    <li>
      Github : <a
        href="https://github.com/dot-tsu"
        class="underline underline-offset-2 hover:text-primary/80 transition-colors"
        >dot-tsu</a
      >
    </li>
    <li>
      LinkedIn : <a
        href="https://www.linkedin.com/in/luca-di-marco/"
        class="underline underline-offset-2 hover:text-primary/80 transition-colors"
        >Luca Di Marco</a
      >
    </li>
    <li>
      FrontendMentor : <a
        href="https://www.frontendmentor.io/profile/tsuramii"
        class="underline underline-offset-2 hover:text-primary/80 transition-colors"
        >tsuramii</a
      >
    </li>
  </ul>
</section>
