---
import ArrowLongRight from "@/components/icons/ArrowLongRight.astro";
import UnderlinedLink from "@/components/UnderlinedLink.astro";
---

<section
  id="Hello!"
  class="p-4 lg:p-10 flex flex-col justify-center lg:block min-h-screen">
  <h2 class="font-semibold text-2xl lg:text-8xl text-secondary">
    Luca Di&nbsp;Marco <span class="font-light text-muted/70 italic"
      >/.tsu/</span
    >
  </h2>
  <div class="max-w-[1200px]">
    <p
      class="text-lg lg:text-4xl text-muted my-5 [&>strong]:italic [&>strong]:font-[arial]">
      Front-end <strong>artist</strong> and <strong>architect</strong>,
      responsible for creating digital interfaces that are
      <strong>visually stunning</strong> and <strong>user-friendly.</strong>
      <br />
    </p>

    <UnderlinedLink href="/#Why Me?"
      >Why should you hire me?
      <Fragment slot="icon">
        <ArrowLongRight
          className="h-4 w-6 lg:h-6 lg:w-6 stroke-primary ml-6 animate-move-arrow"
        />
      </Fragment>
    </UnderlinedLink>
  </div>
</section>

<style></style>
