---
import ProjectCard from "@/components/ProjectCard.astro";

const projects = [
  {
    title: "MyTinerary",
    description:
      "A website for creating travel itineraries easily and efficiently.",
    image:
      "https://media.discordapp.net/attachments/1249199915838472323/1249199978094792794/299shots_so.png?ex=66666fa3&is=66651e23&hm=166ebd7c61b717dcb28e6392199dceff0c0421ed67d0a18069564f1c160e891c&=&format=webp&quality=lossless&width=903&height=677",
    github: "https://github.com/tsuramii/mytinerary-front",
    link: "https://tsuramii.github.io/mytinerary-front/",
  },
  {
    title: "ADN Web Solutions",
    description:
      "A website for a company that provides web development services.",
    image:
      "https://media.discordapp.net/attachments/1249199915838472323/1249199977842999376/629shots_so.png?ex=66666fa3&is=66651e23&hm=9fbd98d92b007f1cd9e066c549dea18a11b855e0f33c33033507a5f726fb296e&=&format=webp&quality=lossless&width=903&height=677",
    github: "https://tsuramii.github.io/adn-solutions-mockup/",
    link: "https://tsuramii.github.io/adn-solutions-mockup/",
  },
  {
    title: "Laggy or Not",
    description: "A simple app to easily check your network latency and ping.",
    image:
      "https://media.discordapp.net/attachments/1249199915838472323/1249199977578893312/226shots_so.png?ex=66666fa3&is=66651e23&hm=bba4a416121202f52e59b8acee9ab18c25fab212d7b6bbab43bab42602cb092f&=&format=webp&quality=lossless&width=903&height=677",
    github: "https://github.com/tsuramii/laggy-or-not",
    link: "https://tsuramii.github.io/laggy-or-not/",
  },
  {
    title: "Askbot",
    description: "A Landing page for a SaaS chatbot platform",
    image:
      "https://media.discordapp.net/attachments/1249199915838472323/1249199977289351168/256shots_so.png?ex=66666fa3&is=66651e23&hm=3748dc0433e746770cefb7712470a1fd88b7e572c895a905788aa3269cebc02f&=&format=webp&quality=lossless&width=903&height=677",
    github: null,
    link: null,
  },
  {
    title: "Joyamate",
    description:
      "An e-commerce for special Creole jewelry and Argentinian mates",
    image:
      "https://media.discordapp.net/attachments/1249199915838472323/1249199976991559740/916shots_so.png?ex=66666fa3&is=66651e23&hm=7a74be3d72268509dde447bbdad7ad89f6abbfaba000b562e89c908ab9cba7ea&=&format=webp&quality=lossless&width=903&height=677",
    github: null,
    link: null,
  },
];
---

<section id="Projects" class="p-4 lg:p-10 min-h-screen">
  <h1 class="text-2xl lg:text-6xl text-secondary font-black">What I've done</h1>
  <p class="mb-4 mt-2 lg:text-2xl text-muted block lg:max-w-[70%]">
    I've designed and developed several web projects, from simple sites to
    complex apps, delivering high-quality front-end solutions.
  </p>
  <div class="grid
    grid-cols-1
    md:grid-cols-3
    gap-5">
    {projects.map((project) => <ProjectCard {...project} />)}
    <a
      href="/#Contact"
      class="opacity-80 hover:opacity-100 hover:-translate-y-2 transition-all">
      <ProjectCard
        title="Your Next Project"
        description="Contact me to discuss your next project idea!"
        image="https://media.discordapp.net/attachments/1112156418926198855/1249148127185997944/328shots_so.png?ex=66663f59&is=6664edd9&hm=7fe751b10964eb54a02c45e85b081cf4d2778887146e6e518aad9c3466d7f829&=&format=webp&quality=lossless&width=466&height=350"
        github={null}
        link={null}
      />
    </a>
  </div>
</section>
