---
import ProjectCard from "@/components/ProjectCard.astro";

const projects = [
  {
    title: "MyTinerary",
    description:
      "A website for creating travel itineraries easily and efficiently.",
    image: "/images/projects/my-tinerary.webp",
    github: "https://github.com/tsuramii/mytinerary-front",
    link: "https://tsuramii.github.io/mytinerary-front/",
  },
  {
    title: "ADN Web Solutions",
    description:
      "A website for a company that provides web development services.",
    image: "/images/projects/adn-solutions.webp",
    github: "https://tsuramii.github.io/adn-solutions-mockup/",
    link: "https://tsuramii.github.io/adn-solutions-mockup/",
  },
  {
    title: "Laggy or Not",
    description: "A simple app to easily check your network latency and ping.",
    image: "/images/projects/laggy-or-not.webp",
    github: "https://github.com/tsuramii/laggy-or-not",
    link: "https://tsuramii.github.io/laggy-or-not/",
  },
  {
    title: "Askbot",
    description: "A Landing page for a SaaS chatbot platform",
    image: "/images/projects/askbot.webp",
    github: null,
    link: null,
  },
  {
    title: "Joyamate",
    description:
      "An e-commerce for special Creole jewelry and Argentinian mates",
    image: "/images/projects/joyamate.webp",
    github: null,
    link: null,
  },
];
---

<section id="Projects" class="p-4 lg:p-10 min-h-screen">
  <h1 class="text-2xl lg:text-6xl text-secondary font-black">What I've done</h1>
  <p class="mb-4 mt-2 lg:text-2xl text-muted block lg:max-w-[70%]">
    I've designed and developed several web projects, from simple sites to
    complex apps, delivering high-quality front-end solutions.
  </p>
  <div class="grid
    grid-cols-1
    md:grid-cols-3
    gap-5">
    {projects.map((project) => <ProjectCard {...project} />)}
    <a
      href="/#Contact"
      class="opacity-80 hover:opacity-100 hover:-translate-y-2 transition-all">
      <ProjectCard
        title="Your Next Project"
        description="Contact me to discuss your next project idea!"
        image="/images/projects/your-next-project.webp"
        github={null}
        link={null}
      />
    </a>
  </div>
</section>
