---
import "@fontsource/miriam-libre";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title></title>
  </head>
  <body class="flex items-center justify-center h-screen">
    <h1 class="text-4xl font-bold">Hello World!</h1>
    <slot />
  </body>
</html>
<style is:global></style>
