---
const { href } = Astro.props;
---

<a
  href={href}
  class="text-lg lg:text-xl text-primary max-w-fit italic flex items-center relative after:content-[''] lg:after:absolute lg:after:-bottom-1 lg:after:left-0 lg:after:w-[10px] lg:after:h-[2px] lg:after:rounded-lg lg:after:bg-muted lg:after:hover:w-full lg:after:transition-all duration-300 ease-in-out">
  <slot />
  <slot name="icon" />
</a>
